@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --body-bck:#DDD;
  --menu-bck:#FFF;
  --color-links:#000;
  --link-bck:#e72121;
  --link-select:#e72121ea;
  --shadow-links:#1f030356;
  --links-subM:#c0c0c0;
  --color-basis:#1c1c1c;
  --color-Hover:#FFF;

}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins";
  list-style: none;
  color: var(--color-basis);
}

body{
  display: grid;
  grid-template-columns: 90px 1fr;
  min-height: 100vh;
  background: var(--body-bck);
  transition: .4s ease;
}

body.menuHover{
  grid-template-columns: 272px 1fr;
}

/*MENU DE EL SITIO WEB*/
/*header*/
.header{
  width: 95%; 
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  white-space: nowrap;
}
.text-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
}
.text-head1{
  font-weight:300;
  font-size: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.text-head2{
  font-weight: 300;
  font-size: 20px;
}
.header .logoImg{
  object-fit: contain;
  z-index: 100;
}
/*links*/
.nav-list{
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list .item-list{
  width: 100%;
}
.nav-list .item-list .link-sty{
  padding: 20px  10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  border-radius: 10px;
  transition: .4s ease;
  box-shadow: 0 0 5px var(--shadow-links),
  inset  0 0 2px var(--shadow-links);
  z-index: 100;
  overflow: hidden;
}
.link-sty i{
  padding: 0 0 0 13px;
  font-size: 25px;
}
.link-sty div{
  padding: 0 0 0 35px;
}
.link-sty:hover{
  background: var(--link-bck);
  box-shadow: 0 0 0;
}
.link-sty:hover *{
  color: var(--color-Hover);

}
.cont-abs{
  opacity: 0;
  transition: .2s ease ;
}
/*Sub menu*/
.sub-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  interpolate-size: allow-keywords;
}
.sub-menu.open{
  height: auto;
  transition: .5s ease;

}

.items-shows {
  width: 95%;
  border-left: #000 2px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sub-menu div li {
  transition: .3s ease-out;
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sub-menu div li a{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in;
}
.sub-menu div li a:hover{
  background: var(--links-subM);
}
/*------------------------------*/
.bi-chevron-right{  
  transform-origin: initial;
  transform: rotate(0deg);
  position: absolute;
  right: 10px;
}
.bi-chevron-right.down{
  transform: rotate(90deg);
}

/*contenedor*/
.nav-cont{
  background: var(--menu-bck);
  position: fixed;
  width: 75px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 5px;
  border-radius: 10px 10px 0 0 ;
  overflow-x: hidden;
  user-select: none;
  transition: .4s ease;
  left: -100px;
}
.nav-cont.open{
  width: 260px;
}
.nav-cont.open .cont-abs{
  opacity: 1;
}
.nav-cont::-webkit-scrollbar{
  display: none;
}


/*-----------------------------------------------------------*/
/*Contenido del index*/
.main{
  grid-column: 2/3;
  background: #eeebeb00;
  min-height: 100dvh;
  padding: 10px;
  top: 10px;
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
  grid-template-areas:
  "title title"
  "descript imagen"
  ;
  grid-template-rows: 90px repeat(2,auto);
  gap: 5px;
}
.descriptionHome{
  grid-area: title;
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.decriptionWeb{
  grid-area: descript;
  background: yellow;
  padding: 10px;
  height: 300px;
}
.decriptionWeb p{
  background: red;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform:  translate(-50% ,-50%) ;
}
.imageWeb{
  grid-area: imagen;
  border-radius: 10px;
  overflow: hidden;
}
.imageWeb img{
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}
.contMain{
  position: relative;

}
.descriptionHome h1{
  background: red;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
}