:root{
  --body-bck:#DDD;
  --menu-bck:#FFF;
  --color-links:#000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

body{
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  background: var(--body-bck);
}



/*MENU DE EL SITIO WEB*/
/*header*/
.header{
  width: 95%; 
  height: 90px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.text-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .logoImg{
  width: 70px;
  object-fit: contain;
}
/*links*/
.nav-list{
  background: red;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.nav-list .item-list{
  width: 100%;
}
.nav-list .item-list a{
  padding: 20px 10px;
  display: flex;
  justify-content: start;
  cursor: pointer;
  background: yellow;
}
/*contenedor*/
.nav-cont{
  background: var(--menu-bck);
  position: fixed;
  width: 250px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 5px;
  border-radius: 10px 10px 0 0 ;
}


/*-----------------------------------------------------------*/